.banner {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
    /* Then image below */
     url(../../images/background.jpg);
	color: white ;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	width: 700px;
	margin: 0px auto; 
}

.banner h2 {
	width: 700px;
	margin: 0px auto; 
	font-size: 30 px;
	font-weight: lighter;
	opacity: O,8;
	margin-bottom: 40px;	
}
